body{
text-align: center;
font-family: 'Rowdies', cursive;
background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTk2PHhLNc3ss_40_yjBThpKAmh56ewyo36Pw&usqp=CAU");
background-repeat: no-repeat;
background-size: 100% ;
}
h1{
  font-size: 3rem;
  color: #d92027;
}
h2{
  font-size: 2.3rem;
  color: #ff0000;
  text-shadow: 2px 2px #032d3c;
}
.set{
    padding: 1% 3%;
    display: inline-block;
}
.container{
  margin: 3.7%;
}
.drum{
    color: #e23e57;
}
.img{
  border: solid 5px #6decb9;
  border-radius: 100px;
  width: 270px;
  height: 270px;
}
.play{
  color: #230338;
  text-decoration: none;
  font-family: 'Lobster', cursive;
}
.link{
  font-size: 1.5rem;
  margin: 20px;
  font-weight: bold;
}
.footer{
  color: #000;
  font-family: 'Montserrat', sans-serif;
}
